.imagem{
width: 720px;
height: 480px;
}

button{
  background-color: black;
  color: white;
  font-size: 18px;
  border-radius: 10px;
}
.fonteVerde{
color: green;
font-size: 18px;
}
.fonteVermelha{
  color: red;
}
